:root{
   margin: 0px;
}
 html, body{
   /* display: flex;
   flex-direction: column;
   place-items: center; */
   margin: 0;
}
#root {
   /* max-width: 1280px; */
   margin: 0;
   padding: 1rem;
   color: #213547;
 }
header{
   text-align: center;
 
}
main{
   display: grid;
   grid-template-columns: (1fr, 4);
   grid-template-rows: 1fr 1fr 1fr;
   /* gap: 20px; */
}
.cards-content{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: start;
   align-items: start;
   gap: 15px;

}
.card-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: solid 1px black;
   border-radius: 5px;
   box-shadow: 1px 3px 4px rgba(0,0,0, 0.4);
   /* width: 200px;
   height: 200px; */
   cursor: pointer;
}
.card-item:hover{
   box-shadow: 1px 2px 2px 5px rgba(0, 0, 0, 0.6);
   
}
.card-item img{
   height: 15rem;
   width: 100%;
}
@media (prefers-color-scheme: light) {
   .pokemons{
     background-color: #ececec;
   }
 }